.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

.image{
    width: 50%;
    height: 560px;
    background-color: var(--clr-grey);
}

.img{
    margin-left: 95px;
    margin-top: 65px;
}

.texts{
    width: 445px;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.status{
    color: var(--clr-accent);
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.title{
    color: var(--clr-dark);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bolder);
    line-height: 44px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 32px;
}

.desc{
    color: var(--clr-dark);
    font-size: var(--fs-body);
    line-height: 25px;
    opacity: 0.75;
    margin-bottom: 40px;
}

.seeButton{
    padding: 15px 30px;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    font-size: var(--fs-subtitle);
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.seeButton:hover{
    background-color: var(--clr-lighter-accent);
    transition: all 0.2s;
}

